Django>=4.2.0
django-crispy-forms>=2.0
crispy-bootstrap5>=0.7
Pillow>=10.0.0
psycopg2-binary>=2.9.0
markdown>=3.5.0
bleach>=6.0.0
requests>=2.31.0
dotenv
django-redis
django-mathfilters
gunicorn
whitenoise
django-rq<3.0
django-ratelimit
prometheus-client
django-prometheus
python-json-logger
